/* colors */
:root{
    --dark-color: #11120f;;
    --light-color:#deded9;
    --red-color:#f9035e;
    --cyan-color:#4798e9;
    --red-hover-color: #d25673;
    --green-color: #4d9b40;
}
*{
    margin: 0;
    box-sizing: border-box;
    
}
html{
    scroll-behavior: smooth;
}
body {
    font-family: 'Roboto';
    background-color: rgb(206, 231, 138);
    margin-top: auto;
    margin-bottom:auto;
}
h1{
    color: var(--green-color);
    text-align: center;
    font-size: 30px
}
h1.brand-name{
    color:#f90349;
    font-size:50px;
}
h2{
    font-family: var(--green-color);
    text-align: center;
    font-size: 20px
}
.wrapper {
    width : 1152px;
    margin : 0 auto;
    padding: 0 100px;
}

.desktop-nav {
    background-color: rgb(186, 186, 83);
    display: flex;
    justify-content: space-between;
    list-style: none;
    text-decoration:none;
    font-size: 20px;
    font-weight: bold;
    align-items:center;
    background: (var --cyan-color);
    box-shadow: 0px 3-x 11px rgba(112, 77, 77, 0.15);
    border-radius: 24px;
    padding: 3px 30px;
    position: fixed;
    z-index:200;
    width:1052px; 
    top:10px;

}
.desktop-nav .menu-items li a{
    position:relative
}
.desktop-nav .menu-items li {
    margin: 0 20px;
}
.desktop-nav .menu-items li:nth-last-of-type(1){
    margin-right: 10px;

}
.logo{
    height:80px;
    width:auto;
}
a {
    text-decoration: none;
}
.desktop-nav .menu-items li a.active::after{
    content: "";
    position:absolute;
    height: 3px;
    width: 100%;
    background:#425521;
    left:0;
    bottom: -14px;
}
a.btn{
    background-color: var(--red-color);
    color: var(--light-color);
    border-radius: 24px;
    padding: 14px, 30px;
    text-decoration: none;
    font-size: 30px;
    display: inline-block;
}
a.btn.green{
    background: green;
    padding-left: 10px;
    padding-right: 10px;
}
/* Hero Container */
.hero-container{
    height: 85vh;
    margin:0 auto;
    display: flex;
    align-items:center;
    justify-content:stretch;
    background-image: url(images/Plate\ of\ Fish.png);
    background-size: cover;
    background-repeat: no-repeat;

}
.hero-container .left p{
    font-size: 24px;
}

p{
    line-height: 2;
    margin-bottom: 20px;
    font-family: Roboto;
}
section{
    padding-top: 100px;
}
section p{
    color: var(--dark-color);

}
/*Animation of Nav Bar and Hero Container */
.desktop-nav{
    animation: fadeDown 1500ms forwards;
    opacity: 0;
}
@keyframes fadeDown{
    from{
        opacity:0;
        transform:translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.hero-container .left p{
    animation: fadeIn 1000ms forwards;
    opacity:0;
    animation-delay: 400ms
}
@keyframes fadeIn{
    from{
        opacity:0;
        transform:translateX(-100px);
    }
    to{
        opacity: 1;
    }
}

.hero-container .left h1{
    animation: fadeToRight 1000ms forwards cubic-bezier(0.22, 0.32, 0, 1.54);
    opacity: 0;
    animation-delay: 400ms;
}
@keyframes fadeToRight{
    from{
        opacity:0;
        transform:translateX(-100px);
    }
    to{
        opacity:1;
        transform:translateX(0px);
    }
}
.hero-container .left .btn:nth-of-type(1){
    animation:fadeIn 1000ms forwards;
    opacity:0;
    animation-delay: 1400ms
}
.hero-container .left .btn:nth-of-type(2){
    animation:fadeIn 1000ms forwards;
    opacity:0;
    animation-delay: 1600ms
}
@keyframes fadeToLeft{
    from{
        opacity:0;
        transform:translateX(30px);
    }
    to{
        opacity:1;
        transform:translateX(0px);
    }
}
/* Styling of the Menu Container */
.menu-container{
    display:flex;
    flex-wrap: wrap;
    justify-content:space-around;
}
.menu{
    width: 23%;
    box-shadow: 0 0 3px rgba(28, 29, 23, 0.96);
    text-align:center;
    padding:1.5em;
    margin-bottom:2em;
}
.images{
    width: 80%;
    size-adjust: inherit;
}
.description{
    font-size: 16px;
    font-family: "Roboto";
    font-weight:bold;
    font-style:italic;
    color:#0c3af0
}
.images{
    height: 50%;
    width: 100%;
}
.category, .price{
    font-weight: bold;
    text-transform:capitalize;
    margin: 1em;
}
.price{
    font-weight: bold;
    text-transform: capitalize;
    margin: 1em;
    font-size: 1.2em;
    color: var(--red-hover-color);
}
.about-section{
    margin:0 auto;
    padding: 10px 0;
}
/* Styling the About */
.about-section .section-content{
    display:flex;
    align-items:center;
}
.about-description p{
    font-size:18px;
}
.about-section .section-content img{
    padding-left:100px;
    height: 300px;
    width:fit-content
}

/* Testimonials */
.slide-container{
    display: flex;
    justify-content: space-between;
    width: 800px;
    margin: 0 auto;
}
.slide-container .content{
    padding:0;
    font-style: italic;
    font-size: 20px;
}
.slide-container .content .name{
    background:#0b3866;
    color:aliceblue;
    display:inline-block;
    font-style: normal;
    margin-left:16px;
}

.testimonials-container{
    position:relative;
}
.slider-prev, 
.slider-next{
    position: absolute;
    /* top: 100px; */
    bottom: 75px;
    cursor:pointer;
    
}
.slider-next{
    right:0px;
}
input[type="text"],
textarea{
    padding: 16px 30px;
    box-shadow: 0px 6px 16px rgba(0, 0, 0, 0, 0.11);
    border-radius: 24px;
    background: whitesmoke;
    border:1px solid #030303;
    font-family: "Roboto";
    flex: 1;
    margin-bottom: 30px;
}
.contact-section .group{
    display:flex;
}
input[type="text"]:nth-of-type(1){
    margin-right:16px;
}
input[type="text"]:nth-of-type(2){
    margin-left:16px;
}
input[type="text"]:nth-of-type(3){
    margin-left:16px;
}
input[type="text"]:nth-of-type(4){
    margin-left:16px;
}

/* Footer Styling*/
footer{
    background: rgb(186, 186, 83);
    color: var(--cyan-hover-color);
    margin-top: 100px;
    padding-bottom: 30px;
}
h3{
    color:#952c45;
    font-weight: 400;
    font-style: bold;
}
.footer-container .footer-logo{
    height:100px;
    width:100;
}
footer a:hover {
    text-decoration:underline;
}
.footer-container{
    display:flex;
    justify-content:space-between;
    padding: 100px 0px 32px 0px;
}
.footer-container .logo{
    align-self: left;
}
.footer-container ul{
    margin-top: 30px;
    padding: 0;
    list-style: none;
}
.footer-container ul li{
    margin: 20px 0;
}
.footer-container .social-media{
    margin: 30px 12 24px 10;
}
.footer-container .social-media a{
    text-decoration: none;
    margin: 12 15px;
}
.footer-container .social-media a:first-child{
    margin-left: 15px;
}
.footer-container .social-media a img{
    transition: 500ms;
}
.footer-container .social-media a img:hover{
    transform: scale(1.2);
}
.copyright{
    text-align: center;
}